
## <summary>policy for logdaemon</summary>

########################################
## <summary>
##	Execute logdaemon_exec_t in the logdaemon domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`logdaemon_domtrans',`
	gen_require(`
		type logdaemon_t, logdaemon_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, logdaemon_exec_t, logdaemon_t)
')

######################################
## <summary>
##	Execute logdaemon in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`logdaemon_exec',`
	gen_require(`
		type logdaemon_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, logdaemon_exec_t)
')
