[Unit]
Description=Append a message to a log file
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/bin/logdaemon

[Install]
WantedBy=multi-user.target
